.vscode/*
urlreader/urlreader/__pycache__/*
urlreader/top/__pycache__/*
urlreader/results/__pycache__/*
urlreader/guides/__pycache__/*
urlreader/images/*
urlreader/static/*
urlreader/results/fjb.json
urlreader/results/fjb-g.json
urlreader/urlreader/APIkey.json
