{% load static %}
<!DOCTYPE html>
<html lang="ja-jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guides | URLReaderの使い方</title>
    <link rel="stylesheet" href="{% static 'guides/css/bootstrap.css' %}">
</head>
<body>
    <script src="{% static 'guides/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'guides/js/popper.min.js' %}"></script>
    <script src="{% static 'guides/js/bootstrap.js' %}"></script>
    <div class="container-fluid p-5">
        <h1>Guides!</h1>
    </div>
</body>
</html>