{% load static %}
<!DOCTYPE html>
<html lang="ja-jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guides | URLReaderの使い方</title>
    <link rel="stylesheet" href="{% static 'guides/css/bootstrap.css' %}">
</head>
<body>
    <script src="{% static 'guides/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'guides/js/popper.min.js' %}"></script>
    <script src="{% static 'guides/js/bootstrap.js' %}"></script>
    <nav class="navbar navbar-dark bg-dark">
        <a href="../" class="navbar-brand">URLReader</a>
    </nav>
    <div class="container-fluid p-5">
        <h1>URLReaderの使い方</h1>
        <hr />
        <h2>1.写真を撮る</h2>
        <p>検出したいURLが含まれる写真を撮ります。</p>
        <hr />
        <h2>2.アップロードする</h2>
        <p>トップページにて撮った写真を選択します。</p>
        <hr />
        <h2>3.ボタンを押す！</h2>
        <p>写真を選択したあとはアップロードボタンを押すことで、あとは勝手に解析します！</p>
        <hr />
        <h2>4.認識した文字を使う</h2>
        <p>Copy!ボタンを押すことでリスト内の文字列をコピーできます！</p>
        <hr /><br><br>
        <h4>利用上の注意点について</h4>
        <hr />
        <ul>
            <li>アップロードされたファイルに関して一切の責任を持ちません。自己責任でお願いいたします。</li>
            <li>個人情報など重要な情報が記載されている写真はアップロードしないようにしてください。</li>
        </ul>
    </div>
</body>
<footer>
    <div class="my-box mb-3">
        <div class="copyright text-center">
            <span class="badge badge-primary">copyright &copy; fjb-G班卒業研究</span>
        </div>
    </div>
</footer>
</html>
