{% load static %}
<!DOCTYPE html>
<html lang="ja-jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{% static 'top/css/bootstrap.css' %}">
</head>
<body>
    <script src="{% static 'top/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'top/js/popper.min.js' %}"></script>
    <script src="{% static 'top/js/bootstrap.js' %}"></script>
    <div class="container-fluid p-5">
        <h1>Top!</h1>
        <p>{{numbers}}</p>
        <div class="m-5 form-group">
            <label>ファイルを選択</label>
            <input type="file" class="form-control-file">
        </div>
    </div>
</body>
</html>